p {
  font-family: 'helvetica neue', helvetica, sans-serif;
  letter-spacing: 100px;
  text-transform: uppercase;
  text-align: center;
  border: 20px solid rgba(0,0,200,0.6);
  background: rgba(0,0,200,0.3);
  color: rgba(0,0,200,0.6);
  box-shadow: 10px 10px 20px rgba(0,0,200,0.4);
  border-radius: 10px;
  padding: 3px 10px;
  display: inline-block;
  cursor:pointer;
}
